button{
    padding: 15px ;
    height: 40px;
    width: 50px;
    border-color: transparent;
    border-radius: 25%;
    background-color: grey;
}
.md div{
    padding: 3px;
}
input{
    border-color: transparent;
    background-color: wheat;
    height: 30px;
    width: 77%;
    border-radius: 10%;
    padding: 20px;
    box-sizing: border-box;
    
}
.md{
    width: 280px;
    border: 2px solid;
    padding: 25px;
    text-align: center;
    background-color: black;

}
button:hover{
    background-color: wheat;
}
button:active{
    background-color: lightskyblue;
}